<fieldset>
  <h3 class="subheader">Sign In</h3>
	<%= form_for :session do |f| %>
    <%= label_tag :username %>
	  <%= f.text_field :username, placeholder: 'Jane', autofocus: true  %>
    <%= label_tag :password %>
	  <%= f.password_field :password, placeholder: 'Password' %>
	  <%= f.submit 'Sign In', class: 'button' %>
	<% end %>
</fieldset>
