<fieldset>
  <%= render 'layouts/feedback' %>
  <legend><h3 class="subheader">Dashboard</h3></legend>
  <div class="row">
    <div class="large-3 columns hero">
      <img class='circle' src="http://www.gravatar.com/avatar/<%= current_user.gravatar_hash %>?s=150&d=mm">
    </div>
    <div class="large-9 columns">
      <h3 class="inline-header"><%= @user.username %></h3>
      <div class="inline-button"><%= link_to "Edit", edit_user_path(@user), class: 'button secondary tiny' %></div>
      <ul class="contact">
        <li><h5 class="subheader inline-header">EMAIL</h5> <%= @user.email %></li>
        <li><h5 class="subheader inline-header">CELL</h5> <%= @user.display_phone_number %></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row equal-height-wrapper">
    <div class="large-6 columns equal-height-column">
      <% if @user.events.active.any? %>
        <h4 class="subheader">My Created Runs</h4>
        <table>
          <thead>
            <tr>
              <th>Event Title</th>
              <th>When</th>
              <th>Pace</th>
              <th>Distance</th>
            </tr>
          </thead>
          <tbody>
            <% @user.events.active.order("start_time").each do |event| %>
              <tr>
                <td><h6><%= link_to event.title, event_path(event) %></h6></td>
                <td><%= event.start_time.localtime.strftime("%I:%M%p on %m/%d/%Y") %></td>
                <td><%= event.pace %>:00 min/mile</td>
                <td><%= event.route.distance %> miles</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="large-6 columns equal-height-column">
      <% if @user.notified_events.active.any? %>
        <h4 class="subheader">My Notified Runs</h4>
        <table>
          <thead>
            <tr>
              <th>Event Title</th>
              <th>When</th>
              <th>Pace</th>
              <th>Distance</th>
            </tr>
          </thead>
          <tbody>
            <% @user.notified_events.active.order("start_time").each do |event| %>
              <% if event.user_id != current_user.id %>
                <tr>
                  <td><h6><%= link_to event.title, event_path(event) %></h6></td>
                  <td><%= event.start_time.localtime.strftime("%I:%M%p on %m/%d/%Y") %></td>
                  <td><%= event.pace %>:00 min/mile</td>
                  <td><%= event.route.distance %> miles</td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>

  <div class="row equal-height-wrapper">
    <div class="large-6 columns equal-height-column">
      <% unless @location_settings %>
        <%= link_to "Add Run Alert", new_location_setting_path, class: "button small" %>
      <% else %>
        <h4 class="subheader">My Run Alerts</h4>
        <%= link_to "Add Run Alert", new_location_setting_path, class: "button small" %>
          <table>
            <thead>
              <tr>
                <th>Alert Name</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <% @location_settings.each do |location| %>
                <tr>
                  <td>
                    <h6><%= link_to location.name, location_setting_path(location) %></h6>
                  </td>
                  <td>
                    <%= location.address %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      <% end %>
    </div>

    <div class="large-6 columns equal-height-column">
      <% if @user.routes.saved.any? %>
        <h4 class="subheader">My Saved Routes</h4>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Distance</th>
            </tr>
          </thead>
          <tbody>
            <% @user.routes.saved.each do |route| %>
              <tr>
                <td><h6><%= link_to route.name, route_path(route) %></h6></td>
                <td><%= route.distance %> miles></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</fieldset>
