<fieldset>
  <p><img class='circle' src="http://www.gravatar.com/avatar/<%= current_user.gravatar_hash %>?s=150&d=mm"></p>
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
  <p>Cellphone: <%= @user.cellphone %></p>
  <% unless @location_settings %>
    <p>No locations available. <%= link_to "Add a location", new_location_setting_path %></p>
  <% else %>
    <p>Locations:</p>
    <% @location_settings.each do |location| %>
      <p><%= link_to location.name, location_setting_path(location) %><%= link_to "Edit", edit_location_setting_path(location), class: 'button secondary tiny' %><%= link_to 'Delete', location, method: :delete, class: 'button tiny alert' %></p>
    <% end %>
    <%= link_to "Add a location", new_location_setting_path %>
  <% end %>

  <% if @user.notified_events.active.any? %>
    <table>
      <h5>Notified Events</h5>
      <tr>
        <td>Event Title</td>
        <td>When</td>
        <td>Pace</td>
        <td>Distance</td>
      </tr>
      <% @user.notified_events.active.order("start_time").each do |event| %>
        <tr>
          <td><%= link_to event.title, event_path(event) %></td>
          <td><%= event.start_time.localtime.strftime("%I:%M%p on %m/%d/%Y") %></td>
          <td><%= event.pace %>:00 min/mile</td>
          <td><%= event.route.distance %> miles</td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if @user.events.active.any? %>
    <table>
      <h5>Created Events</h5>
      <tr>
        <td>Event Title</td>
        <td>When</td>
        <td>Pace</td>
        <td>Distance</td>
      </tr>
      <% @user.events.active.order("start_time").each do |event| %>
        <tr>
          <td><%= link_to event.title, event_path(event) %></td>
          <td><%= event.start_time.localtime.strftime("%I:%M%p on %m/%d/%Y") %></td>
          <td><%= event.pace %>:00 min/mile</td>
          <td><%= event.route.distance %> miles</td>
          <td>
            <%= link_to 'Edit', edit_event_path(event), class: 'button tiny secondary' %>
            <%= link_to 'Delete', event, method: :delete, class: 'button tiny alert' %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</fieldset>
