<fieldset>
  <legend><h3 class="subheader">Dashboard</h3></legend>
  <div class="row">
    <div class="large-3 columns hero">
      <img class='circle' src="http://www.gravatar.com/avatar/<%= current_user.gravatar_hash %>?s=150&d=mm">
    </div>
    <div class="large-9 columns ">
      <h3 class="profile-details"><%= @user.username %></h3>
      <span class="profile-edit"><%= link_to "Edit", edit_user_path(@user), class: 'button secondary tiny' %></span>
      <ul class="contact">
        <li><strong>EMAIL:</strong> <%= @user.email %></li>
        <li><strong>CELL:</strong> <%= @user.cellphone %></li>
      </ul>
    </div>
  </div>
  <% unless @location_settings %>
    <%= link_to "Add Run Alert", new_location_setting_path, class: "button" %>
  <% else %>
    <h4 class="subheader">My Runs:</h4>
    <% @location_settings.each do |location| %>
      <div class="button-bar">
        <h5><%= link_to location.name, location_setting_path(location) %><h5>
      </div>
    <% end %>
    <%= link_to "Add Run Alert", new_location_setting_path, class: "button" %>
  <% end %>

  <% if @user.routes.saved.any? %>
    <table>
      <h5>Saved Runs</h5>
      <tr>
        <td>Name</td>
        <td>Distance</td>
      </tr>
      <% @user.routes.saved.each do |route| %>
        <tr>
          <td><%= link_to route.name, route_path(route) %></td>
          <td><%= route.distance %> miles</td>
          <td><input id='route-id' type='hidden' value='<%= route.id %>'><div class="button tiny alert delete-route">Delete</div></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if @user.notified_events.active.any? %>
    <table>
      <h5>Notified Runs</h5>
      <tr>
        <td>Event Title</td>
        <td>When</td>
        <td>Pace</td>
        <td>Distance</td>
      </tr>
      <% @user.notified_events.active.order("start_time").each do |event| %>
        <tr>
          <td><%= link_to event.title, event_path(event) %></td>
          <td><%= event.start_time.localtime.strftime("%I:%M%p on %m/%d/%Y") %></td>
          <td><%= event.pace %>:00 min/mile</td>
          <td><%= event.route.distance %> miles</td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if @user.events.active.any? %>
    <table>
      <h5>Created Runs</h5>
      <tr>
        <td>Event Title</td>
        <td>When</td>
        <td>Pace</td>
        <td>Distance</td>
      </tr>
      <% @user.events.active.order("start_time").each do |event| %>
        <tr>
          <td><%= link_to event.title, event_path(event) %></td>
          <td><%= event.start_time.localtime.strftime("%I:%M%p on %m/%d/%Y") %></td>
          <td><%= event.pace %>:00 min/mile</td>
          <td><%= event.route.distance %> miles</td>
          <td>
            <%= link_to 'Edit', edit_event_path(event), class: 'button tiny secondary' %>
            <%= link_to 'Delete', event, method: :delete, class: 'button tiny alert' %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</fieldset>
