<fieldset>
  <h1>Create Run</h1>
  <%= form_for @event do |f| %>
    <%= label_tag :title %>
    <%= f.text_field :title, placeholder: 'Title', autofocus: true %>
    <%= label_tag :description %>
    <%= f.text_field :description, placeholder: 'Description' %>
    <%= label_tag :When %>
    <%= select_tag :hour, options_for_select([["hr", nil],1,2,3,4,5,6,7,8,9,10,11,12]) %>
    <%= select_tag :minute, options_for_select([["min", nil],["00", 0],15,30,45]) %>
    <%= select_tag :ampm, options_for_select([["am/pm", nil], "AM","PM"]) %>
    <%= label_tag :pace %>
    <%= f.select :pace, options_for_select([5,6,7,8,9,10,11,12]) %>
    <% if current_user.routes.any? %>
      <%= label_tag :route %>
      <%= select_tag :route, options_from_collection_for_select(current_user.routes, 'id', 'name', 0) %>
    <% end %>
    <p>
      <%= f.submit 'Create Run', class: 'button' %>
      <%= hidden_field_tag :waypoints %>
      <%= hidden_field_tag :distance %>
    </p>
  <% end %>
  <div class="button alert small" id="reset">Reset Route</div>
  <div id="map-create"></div>
</fieldset>
