<fieldset>
  <h1>Create Run</h1>
  <%= form_for @event do |f| %>
    <%= label_tag :title %>
    <%= f.text_field :title, placeholder: 'Title' %>
    <%= label_tag :description %>
    <%= f.text_field :description, placeholder: 'Description' %>
    <%= label_tag :address %>
    <%= text_field_tag :address, nil, placeholder: 'Address/Intersection' %>
    <%= label_tag :pace %>
    <%= f.select :pace, options_for_select([5,6,7,8,9,10,11,12]) %>
    <%= f.submit 'Create Run', class: 'button' %>
    <%= hidden_field_tag :waypoints %>
    <%= hidden_field_tag :distance %>
  <% end %>

  <div id="map-create"></div>
</fieldset>
