<fieldset>
  <h2>Create Run</h2>
  <%= form_for @event do |f| %>
    <%= label_tag :title %>
    <%= f.text_field :title, placeholder: 'Title', autofocus: true %>
    <%= label_tag :description %>
    <%= f.text_field :description, placeholder: 'Description' %>
    <%= label_tag :When %>
    <%= select_tag :hour, options_for_select([["hr", nil],1,2,3,4,5,6,7,8,9,10,11,12]) %>
    <%= select_tag :minute, options_for_select([["min", nil],["00", 0],15,30,45]) %>
    <%= select_tag :ampm, options_for_select([["am/pm", nil], "AM","PM"]) %>
    <%= label_tag :pace %>
    <%= f.select :pace, options_for_select([["5:00/mile",5],["6:00/mile",6],["7:00/mile",7],["8:00/mile",8],["9:00/mile",9],["10:00/mile",10],["11:00/mile",11],["12:00/mile",12]]) %>
    <% if current_user && current_user.routes.any? %>
      <%= label_tag :route %>
      <%= select_tag :route, options_from_collection_for_select(current_user.routes, 'id', 'name', 0) %>
    <% end %>
    <p>
      <% if current_user %>
        <%= f.submit 'Create Run', class: 'button' %>
      <% else %>
        <div><%= link_to "Signup For Who Run It", users_path, class: "button alert" %></div>
      <% end %>
      <%= hidden_field_tag :waypoints %>
      <%= hidden_field_tag :distance %>
    </p>
  <% end %>

  <div class="button alert small" id="reset">Reset Route</div>
  <div id="map-create"></div>
</fieldset>
