<p>Title: <%= @event.title %></p>
<p>Creator: <%= @event.user.username %></p>
<p>Description: <%= @event.description %></p>
<p>Start Time: <%= @event.start_time  %></p>
<p>Location: <%= @event.location.latitude %>, <%= @event.location.longitude %></p>