<fieldset>
  <legend><h3 class="subheader"><%= @event.title %></h3></legend>

  <div class="row">
    <div class="large-10 columns">
      <% if @event.description != "" %>
        <h4 class="subheader"><%= @event.description %></h4>
      <% end %>
    </div>

    <% if current_user.id == @event.user_id %>
      <div class="large-2 columns">
        <%= link_to "Delete", @event, method: :delete, class: 'button alert small', confirm: 'Are you sure?' %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <img class='circle icon-face inline-photo' src="http://www.gravatar.com/avatar/<%= @event.user.gravatar_hash %>?s=60&d=mm">
      <h5 class="subheader inline-header">Run with</h5>  <%= @event.user.username %>
    </div>
    <div class="large-4 columns">
      <% if current_user.notifications.find_by_event_id(@event.id) %>
        <form id="commit-toggle">
          <input id="notification-id" name="id" type="hidden" value="<%= current_user.notifications.find_by_event_id(@event.id).id %>">
          <input id="current-user-id" name="current-user-id" type="hidden" value="<%= current_user.id %>">
          <input id="current-user-avatar" name="current-user-avatar" type="hidden" value="<%= current_user.gravatar_hash %>">
          <div class="switch">
            <% if current_user.notifications.find_by_event_id(@event.id).committed == 0 %>
              <input id="z" name="committed-switch" type="radio" checked>
              <label for="z" onclick="">Run with <%= @event.user.username %>?</label>

              <input id="z1" name="committed-switch" type="radio" >
              <label for="z1" onclick="">RUNNING!</label>
            <% else %>
              <input id="z" name="committed-switch" type="radio" >
              <label for="z" onclick="">Run with <%= @event.user.username %>?</label>

              <input id="z1" name="committed-switch" type="radio" checked>
              <label for="z1" onclick="">RUNNING!</label>
            <% end %>
            <span></span>
          </div>
        </form>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
      <div class="large-6 columns" id="committed-runners">
        <h5 class="subheader">Committed Runners</h5>
        <% @event.users.each do |user| %>
          <% if user.notifications.find_by_event_id(@event.id).committed == 1 %>
            <img id="user-<%= user.id %>"class='circle icon-face' src="http://www.gravatar.com/avatar/<%= user.gravatar_hash %>?s=60&d=mm">
          <% end %>
        <% end %>
      </div>

      <div class="large-6 columns" id="notified-runners">
        <h5 class="subheader">Notified Runners</h5>
        <% @event.users.each do |user| %>
          <% if user.notifications.find_by_event_id(@event.id).committed == 0 %>
            <img id="user-<%= user.id %>"class='circle icon-face' src="http://www.gravatar.com/avatar/<%= user.gravatar_hash %>?s=60&d=mm">
          <% end %>
        <% end %>
      </div>
  </div>

  <hr>

  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
            <th>When</th>
            <th>Distance</th>
            <th>Pace</th>
            <th>Total Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @event.start_time.localtime.strftime("%I:%M%p on %m/%d/%Y") %></td>
            <td><%= @event.route.distance %> miles</td>
            <td><%= @event.pace %>:00/mile</td>
            <td><%= (@event.route.distance * @event.pace).round(0) %> minutes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="map-show"></div>

</fieldset>

<script type="text/javascript">
  var waypoints = <%= @event.waypoint_coordinates %>;
</script>

