<fieldset>
  <h1><%= @event.title %></h1>
  <p>Creator: <%= @event.user.username %></p>
  <p>Description: <%= @event.description %></p>
  <p>Start Time: <%= @event.start_time  %></p>
  <p>Location: <%= @event.waypoints.first.latitude %>, <%= @event.waypoints.first.longitude %></p>

  <div id="map"></div>
  <input type=hidden id="latitude" value="<%= @event.waypoints.first.latitude %>">
  <input type=hidden id="longitude" value="<%= @event.waypoints.first.longitude %>">
</fieldset>
