<fieldset>
  <h1><%= @event.title %></h1>
  <p>Creator: <%= @event.user.username %></p>
  <p>Description: <%= @event.description %></p>
  <p>Start Time: <%= @event.start_time  %></p>
  <p>Location: <%= @event.location.latitude %>, <%= @event.location.longitude %></p>

  <div id="map-canvas"></div>
  <input type=hidden id="latitude" value="<%= @event.location.latitude %>">
  <input type=hidden id="longitude" value="<%= @event.location.longitude %>">
</fieldset>