<fieldset>
  <h1><%= @event.title %></h1>
  <% if @event.description != "" %>
    <p id='description'><%= @event.description %></p>
  <% end %>
  <p>Organizer: <b><%= @event.user.username %></b> <span><img class='circle' src="http://www.gravatar.com/avatar/<%= @event.user.gravatar_hash %>?s=30&d=mm"></span></p>

  <% if current_user.notified_events.include?(@event) %>
    <div class="button small">Commit to Run</div>
  <% end %>

  <table class='show-event'>
    <tr>
      <td>When</td>
      <td><b><%= @event.start_time.localtime.strftime("%I:%M%p on %m/%d/%Y") %></b></td>
    </tr>
    <tr>
      <td>Distance</td>
      <td><b><%= @event.route.distance %> miles</b></td>
    </tr>
    <tr>
      <td>Pace</td>
      <td><b><%= @event.pace %>:00/mile</b></td>
    </tr>
    <tr>
      <td>Total Time</td>
      <td><b><%= (@event.route.distance * @event.pace).round(0) %> minutes</b></td>
    </tr>
  </table>
  <div id="map-show"></div>

  <div>
    <h5>Committed Runners</h5>
    <% @event.users.each do |user| %>
      <% if user.notifications.find_by_event_id(@event.id).committed == true %>
        <p><img class='circle' src="http://www.gravatar.com/avatar/<%= user.gravatar_hash %>?s=30&d=mm"></p>
      <% end %>
    <% end %>
  </div>
</fieldset>

<script type="text/javascript">
  var waypoints = <%= @waypoints %>;
</script>
