<fieldset>
  <h1>Edit Location Setting</h1>
  <%= form_for @location_setting do |f| %>
    <%= label_tag :name %>
    <%= f.text_field :name %>
    <%= label_tag :notification_frequency %>
    <%= f.select :notification_frequency, [['Within 30 Minutes', 1], ['Within 1 Hour', 2], ['Within 2 Hours', 3]] %>
    <%= label_tag :notification_method %>
    <%= f.select  :notification_method, [['None', 1],['Email',2],['Text Message',3],['Both',4]] %>
    <%= label_tag :pace %>
    <%= f.select :pace_min, [['None', 0],['5:00',5],['6:00',6],['7:00',7],['8:00',8],['9:00',9],['10:00',10],['11:00',11],['12:00',12]] %>
    <%= f.select :pace_max, [['None', 12],['5:00',5],['6:00',6],['7:00',7],['8:00',8],['9:00',9],['10:00',10],['11:00',11],['12:00',12]] %>
    <%= label_tag :distance %>
    <%= f.select  :distance_min, [['None', 0],['1 mile',1],['2 miles',2],['3 miles',3],['4 miles',4],['5 miles',5],['6 miles',6],['7 miles',7],['8 miles',8],['9 miles',9],['10 miles',10],['11 miles',11],['12 miles',12],['13 miles',13],['14 miles',14],['15 miles',15],['16 miles',16],['17 miles',17],['18 miles',18],['19 miles',19],['20 miles',20]] %>
    <%= f.select :distance_max, [['None', 20],['1 mile',1],['2 miles',2],['3 miles',3],['4 miles',4],['5 miles',5],['6 miles',6],['7 miles',7],['8 miles',8],['9 miles',9],['10 miles',10],['11 miles',11],['12 miles',12],['13 miles',13],['14 miles',14],['15 miles',15],['16 miles',16],['17 miles',17],['18 miles',18],['19 miles',19],['20 miles',20]] %>
    <%= label_tag "New Address" %>
    <%= f.text_field :address %>
    <input type="hidden" value="<%= current_user.id %>" name="location_setting[user_id]" >
    <%= f.submit 'Edit Setting', class: 'button' %>
  <% end %>
</fieldset>
