<fieldset>
  <legend><h3 class="subheader"><%= @location_setting.name %></h3></legend>
  <%= link_to "Edit", edit_location_setting_path(@location_setting), class: 'button small' %>
  <%= link_to 'Delete', @location_location, method: :delete, class: 'button alert small', confirm: "Are you sure?" %>
  <table>
    <thead>
      <tr>
        <th>Open Times</th>
        <th>Notification Method</th>
        <th>Pace Min.</th>
        <th>Pace Max.</th>
        <th>Distance Min.</th>
        <th>Distance Max.</th>
        <th>Address</th>
        <th>Search Radius</th>
      </tr>
    <thead>
    <tbody>
      <tr>
        <td><%= @location_setting.notification_frequency %></td>
        <td><%= notification_method(@location_setting.notification_method) %></td>
        <td><%= @location_setting.pace_min %>:00/mile</td>
        <td><%= @location_setting.pace_max %>:00/mile</td>
        <td><%= pluralize(@location_setting.distance_min, "mile") %></td>
        <td><%= pluralize(@location_setting.distance_max, "mile") %></td>
        <td><%= @location_setting.address %></td>
        <td><%= pluralize(@location_setting.search_radius, "mile") %></td>
      </tr>
    </tbody>
  </table>
  <div id="map-location" class="dark"></div>
</fieldset>

<script type="text/javascript">
  var coords = <%= @coords %>;
  var search_radius = <%= @location_setting.search_radius %>;
</script>
