<fieldset>
  <h3 class="subheader"><%= @location_setting.name %></h3>
  <%= link_to "Edit", edit_location_setting_path(@location_setting), class: 'button' %>
  <%= link_to 'Delete', @location_location, method: :delete, class: 'button', confirm: "Are you sure?" %>
  <table class='show-location'>
    <tr>
      <td>Open Times:</td>
      <td><%= @location_setting.notification_frequency %></td>
    </tr>
    <tr>
      <td>Notification Method:</td>
      <td><%= @location_setting.notification_method %></td>
    </tr>
    <tr>
      <td>Pace:</td>
      <td>Min: <%= @location_setting.pace_min %></td>
      <td>Max: <%= @location_setting.pace_max %></td>
    </tr>
    <tr>
      <td>Distance:</td>
      <td>Min: <%= @location_setting.distance_min %></td>
      <td>Max: <%= @location_setting.distance_max %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><%= @location_setting.address %></td>
    </tr>
    <tr>
      <td>Search Radius:</td>
      <td><%= @location_setting.search_radius %> mi.</td>
    </tr>
  </table>
  <div id="map-location" class="dark"></div>
</fieldset>

<script type="text/javascript">
  var coords = <%= @coords %>;
  var search_radius = <%= @location_setting.search_radius %>
</script>
