<div class="contain-to-grid sticky">
  <div class="color-top"></div>
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to 'who run it', root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if current_user %>
        <li><a href="<%= profile_path(current_user) %>"><%= current_user.username %>&nbsp;<img class='circle icon-face' src="http://www.gravatar.com/avatar/<%= current_user.gravatar_hash %>?s=30&d=mm"></a></li>
        <li><%= link_to 'Run', root_path %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Sign In', login_path %></li>
        <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
